
   .abouthead{
    text-align: center ;
    font-family: Fantasy;
  text-shadow: 2px 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3%;
    color:#0f67ac ;
    background-image: linear-gradient(to right,white, #f9a634 , white);
  } 
  .about{
    cursor: pointer;
    background-color:#fff;
    color: black;
    padding-top: 20px;
    padding-bottom: 30px;
  } 
    .about h1 {
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .about h2 {
    opacity: .8;
  } 
  .about span {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin:auto;
    border-radius:50%;  
    font-size: 40px;
    color: #FFFFFF;
    opacity: 0.7;
    background-color: #ffa500;
    border: 2px solid blue;
  
    -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
     -o-transition:all .5s ease;
     transition:all .5s ease;
  
  }
   .about:hover span{
    opacity: 1;	
    border: 2px solid blue;
    font-size: 42px;
    -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
    -moz-transform: scale(1.1,1.1) rotate(360deg) ;
    -o-transform: scale(1.1,1.1) rotate(360deg) ;
    transform: scale(1.1,1.1) rotate(360deg) ;
  } 
  .about:hover h2{
    opacity: 1;
    -webkit-transform: scale(1.1,1.1)  ;
    -moz-transform: scale(1.1,1.1)  ;
    -o-transform: scale(1.1,1.1)  ;
    transform: scale(1.1,1.1) ;
  }
.col-sm-5-1{
    margin: auto;
   width: 100%;
 } 
.container-py-5-1{
  background-color: #f9a634;
   margin: auto;
   padding: 10px;
   height: auto;
  
 }
#team{
  margin: 0;
  padding: 0;
  background-color: #f9a634;
}
#ourteam{
  font-size: 40px;
  font-weight: 700;
  color: #0f67ac;
  text-shadow: 1.5px 1.5px black;
}
#yashu{
width: 80%;
display:inline-block;
 }
 #tara{
  width: 80%;
  display:inline-block;
   }

#ourteam{
  font-size: 40px;
  color: #0f67ac;
  text-shadow: 1.5px 1.5px black;
}
   #himu{
    background: white;
    margin-top: 40px;
    height: 400px;
    width: 65%;
    transition: 0.6s all ease;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #0f67ac;
     }
     .cardTop{
      transition: 0.4s all ease;
      height: 65%;
     
     }
     .cardBottom
     {
      height: 35%;
      word-wrap: normal;
      transition: 0.4s all ease;
     }
     .cardText {
      min-height: 100%;
      padding: 20px;
    }
    #title{
      font-size: 24px;
  font-weight: 700;
    }
    #cardInfo{
      padding-top: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #f9a634;
    }
 .cardHoverText{
  visibility: hidden;
} 
#himu:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
 }
 #himu:hover .cardHoverText{
  visibility: visible;
  transition: 0.4s all ease;
  transition-delay: 0.1999s;
 }
 #himu:hover .cardBottom{
  transition: 0.4s all ease;
  height: 65%;
  opacity: 1;
 }
 #himu:hover .cardTop {
  height: 35%;
  opacity: 0.8;
  transition: 0.4s all ease;
}

     /* #himu >h5{ 
      word-wrap: normal;
      transition: 0.4s all ease;
     }
    
     #hidpara{
      visibility: hidden;
    }
#himu:hover #hidpara {
      visibility: visible;
      transition: 0.4s all ease;
      transition-delay: 0.1999s;
      background-color: lightgray;
    }
    #himu:hover > #cardtop{
      transition: 0.4s all ease;
      height: 65%;
      opacity: 1;
    }
    #himu:hover >img {
      height: 35%;
      opacity: 0.5;
      transition: 0.4s all ease;
    }
    .cardTop {
      transition: 0.4s all ease;
      height: 65%;
    } */
 





 p.font-italic-text-muted-1{
   color: black;
 }
.row{
  width: 100%;
  height: auto;
  padding:10px;
 
}

/* for demo purposes */
.card {
  margin: 30px 30px;
  border-radius: 10px;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;

}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-block >video{
  width: 100%;
  height: auto;
  padding: 10px;

}

.row{
  align-items: center !important;
  width: 100%;
 height: auto;
}
.container-fluid{
  padding: 10px;
}
hr.new5 {
  border-top: 10px solid #0f67ac;
  border-radius: 5px;
}
