.jumbo-picture {
    background-image: url(https://motionarray.imgix.net/preview-90655-w25nYJ6TKn-high_0014.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }
  
  .left > h1 {
    color: white;
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
  }
  
  .left > p {
    color: white;
    text-align: left;
    padding-left: 25px;
  }
  